@import "tailwindcss";

@theme{
    --color-first : oklch(72.45% 0.189 50.94);
    --color-second : oklch(75.3% 0.1738 56.58);
    --color-third : oklch(79.86% 0.144 61.46);
    --color-forth : oklch(83.2% 0.1249 66.11);
    --color-fifth : oklch(97.02% 0.03 83.63);
    --color-sixth : oklch(96.99% 0.0168 83.63);
}